

<!DOCTYPE html>

<html>
<head>
    
    <title>Welcome to Air_Line Bookings.com</title>
</head>
<body>
    <p style="font-size:18px;">
        Hi @ViewBag.Name;
    </p>
    <p style="font-size:18px;">
        Thanks for signing up with us on <a href="http://AirLine.com">our site</a>! hope you will enjoy your flights.
    </p>
    <p style="font-size:18px;">
        <i><b>Air_line Bookings</b></i>
    </p>
</body>
</html>
