@{
    ViewBag.Title = "About Us";
}

<div align="center" style="margin:0 auto;">
    <br />
    <br />
    <img src="~/Content/images/qqyvc3bkpyl3mfhr8all.jpg" />
    <br />
    <br />
</div>


<h3 style="text-align:center">ABOUT US</h3>
<br/>
<p style="text-align:center">Air_Line is a provider of commercial Executive. We provide services to government delegations, celebrities, sports teams and families who require that their travel be of a medium standard and discreet.
    <br />
    <br />
    Air_Line is built on the combined knowledge and experience of the directors. Since then, the company has gone from strength-to-strength, growing organically to the stage where we now operate from a 20,000 square foot hangar, with a complete operations hub and private departure lounge facilities. Air_Line will provide the best service that the air charter industry has to offer.
    <br />
    <br />
Our safety first approach has created a culture of no compromise to safety in our service charter operations. Air_Line complies with ICAO requirements as well
as South African Civil Aviation regulations.
    <br />
    <br />
</p>
<h3 style="text-align:center">HISTORY</h3>
<br />
<p style="text-align:center">
    Air_Line was originally established in 2008 and in late 2015, a new company was formed solely to look after the charter side of the business. This company is called Air_Line Charters (PTY) Ltd t/a Air_Line. With a combined number of years of aviation experience and an excellent safety record, Air_Line strives to provide the best service in the air charter industry, from first call to delivering you to your destination.
    <br />
    <br />
    </p>

    <h3 style="text-align:center">MISSION</h3>
    <br />
<p style="text-align:center">
    Air_Line provides clients with a completely professional, luxurious service and we will ensure that you arrive safely and in style. Air_Line provides you with the freedom to go where you wish and when you wish, in ultimate luxury and style.
    <br />
    <br />
</p>

    <h3 style="text-align:center">VISION</h3>
    <br />
    <p style="text-align:center">
        Air_Line is always expanding its charter fleet in order to cater for the varying requirements, tastes and needs of our rapidly expanding client base. We cater
    to those requiring a bespoke solution to their travel needs.</pstyle="text-align:center">
    <br />
    <br />
        </p>